*{margin: 0;
    padding: 0;
}
:root{
    --navbar-height:56px;
}
@font-face {
    font-family: myfont;
    src: url(DancingScript-VariableFont_wght.ttf);
}

#navbar{
    display: flex;
    position: relative;
    box-shadow: inset 80px 20px 70px white;
    

}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.99;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: left;
    width: 100%;

    
    
}
#navbar ul li{
    
    padding: 7px; 
    font-size: 1.2em;
    
    font-weight: bold;
    

}
#navbar ul li a{
    justify-content: left;
    color: black;
    text-decoration: none;
    border-radius: 6px ;
     padding: 8px;
     transform:none;
}
#navbar ul li a:hover{
    background-color:black;
   color: white;
   transition: 0.7s;
}
#navbar ul li a:active{
    text-decoration: underline;
    text-decoration-thickness: 2px ;
}
.logo{
display: flex;
align-items: center;
padding: 5px;
width: 150px;


   
}
#home{
    display: flex;
    flex-direction: column;
    padding: 40px 350px;
    align-items: center;
    justify-items: center;

}
#home::before{
    content: "";
    position: absolute;
    background: url(brooke-lark-wMzx2nBdeng-unsplash.jpg) no-repeat center/cover;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.92;
    margin-top: -120px;
}
.btn:hover{
    
   
    background-color: white;
    color: black;
    border: 3px solid black;
    transform: rotate(1turn);
    
}
.btn{
    
    text-align: center;
    font-weight: 700;
    width: 110px;
    height: 50px;
    border-radius:8px; 
    background-color: black;
    color: white;
    border: 3px solid white;
    margin-top: 10px;
    cursor: pointer;
    transition: 1.2s;
}
.btn :active{
    
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px ;

}
 #home h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: black;
    margin-top: 10px;
    text-shadow: black 6px 6px 38px;
}

#home p{
    font-family: myfont;
    font-size: 20px;
    max-height: 150px;
    line-height: 22px;
    text-align: justify;
    color: black;
    transform: capitalize;
    overflow: hidden;
    
}
#services{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 180px;
    
}

#services h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 33px;
    margin-top: 20px;
    text-shadow: black 0px 0px 38px;
    text-transform: uppercase;
    text-decoration:underline ;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    width: 30%;
    border-radius: 15px;
    background-color: #edcece;
    align-items: center;
    padding: 3px 10px;
    text-align: justify;
    margin-top: 8px;
    font-family: myfont;
    font-size: 18px;
    transform: capitalize;
    font-weight: 300;
    
    
}
.box .para{
    display: none;
}
.box img {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    

   

}
.box:hover{
    
    transition: 0.2s ease-in-out;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 0px 0px 28px 3px black;
    

}
#contact h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 33px;
    margin-top: 20px;
    text-shadow: black 0px 0px 38px;
    text-transform: uppercase;
    text-decoration:underline ;
}
#contact{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    
}
.form{
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 850px;
    border: 6px solid black;

}
.form input{
    text-align: center;
    width: 350px;
    height: 25px;
    display: inline;
    

}
.form label{
    display: inline;
}
#contact::before{
    content: "";
    position: absolute;
    height: 550px;
    margin-top: -30px;
    width: 100%;
    z-index: -1;
    opacity: .89;
    background: url(jeshoots-com-pUAM5hPaCRI-unsplash.jpg) no-repeat center/cover;
}
.btn2:hover{
    
   
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: scale3d(2, 0.5);
    
}#btn2:hover{
    
   
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: scale3d(1, 0.2);
    
}
#btn2{
    
    text-align: center;
    width: 114px;
    height: 50px;
    border-radius:10px; 
    background-color: black;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.7s;
    font-weight: 600;
    margin-bottom: 3px;
}.btn3:hover{
    
   
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: scale3d(1, 0.2);
    
}
.btn3{
    
    text-align: center;
    width: 140px;
    height: 60px;
    border-radius:10px; 
    background-color: black;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.7s;
    font-weight: 600;
    margin-bottom: 3px;
}
.features2{
   display: flex;
    height: 270px;
    background-color: black;
    margin-left: -8px;


    
 }
 table{
    color: white;
    border-collapse: separate;
    border-spacing: 60px 7px;
    display: inline;
    font-size: 18px;

   
}
td>a{
    text-decoration: none;
    color: white;
}
.icons{
    cursor: pointer;
}
th{
    font-size: 25px;
    text-decoration: underline;

}
#menu::before{
    content: "";
    background: url(digital-restaurant-menu-horizontal-format_23-2148655475.webp) no-repeat center/cover;
    position: absolute;
    height: 550px;
    margin-top: -10px;
    width: 100%;
    z-index: -1;
    opacity: .8;

}
menu{
    display: flex;
    align-items: center;
}
#menu h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    margin-top: 34px;
    padding-top: 206px;
    text-shadow: black 0px 0px 16px;
    text-transform: uppercase;
    text-decoration:underline ;
    color: white;
}
